{% extends 'base.html' %}
{% block title %} Usuarios - Tarea Planner {% endblock %}

{% block content %}

<style>
    .tabla-usuarios {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .tabla-usuarios th, .tabla-usuarios td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .tabla-usuarios th {
        background-color: #f2f2f2;
    }
</style>
<table class="tabla-usuarios">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}